# dependencies
/node_modules

# next.js
/.next
/out
/.open-next

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
pnpm-debug.log*

# cloudflare / wrangler
.wrangler
.wrangler/

# local env files
.env*.local
.env

# test
/coverage
